body {
    font-family: Arial, Helvetica, sans-serif;
}

.cs-name-input,
.cs-date-input {
    padding: 6px 10px ;
    font-size: 15px;
    /* margin-right: 15px; */
}

/* .cs-date-input {
    padding: 6px 25px;
} */

.cs-add-button {
    background-color: rgb(78, 215, 78);
    border: none;
    color: white;
    padding: 8px 25px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    /* margin-left: 15px; */
}

.todoList-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    /* align-items: center; */
    align-items: stretch;
}

.todo-result-display-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}


.js-delete-todo-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}