body {
    font-family: Arial;
}

.cs-toggle-button {
    border: none;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}


.is-toggled {
    background-color: rgb(240, 240, 240);
    color: black;
}

.cs-result {
    text-align: center;
}

